.title{
border: solid 1px ;
display: flex;
justify-content: center;
margin-top: 50px;
}
.main{
    margin-top: 80px;

}
.main_o{
    border: solid;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.paragraphe{

}
footer{
    margin-top: 100px;
}
.crud{
    display: flex;
    justify-content: space-around;
}
.card-img-overlay{
    color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.card-img{

}
.card{
    display:flex;

}
.card-text{
    border: solid;
    width: 500px;
    HEIGHT: 100px;
    /* font-style: oblique; */

}
.card-title{
   margin-bottom: ;
    

}
.card-body{
    background-image: url(css/chi.jpg);
}