.title{
border: solid 1px ;
display: flex;
justify-content: center;
margin-top: 50px;
height: 50px;
}
.main{
    margin-top: 80px;

}
.main_o{
    border: solid;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}
.paragraphe{

}
footer{
    margin-top: 100px;
}
.crud{
    display: flex;
    justify-content: space-around;
}
.card-img-overlay{
    color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.card-img{

}
.card{
    display:flex;

}
.card-text{
    border: solid;
    width: 300px;
    HEIGHT: 100px;
    /* font-style: oblique; */

}
.card-title{
   margin-bottom: ;
    

}
.card-body{
    background-image: url(css/chi.jpg);
}
.login{
    border: solid;
    height: 300px;
    background-color: #000080;
    margin-top: 200px;
    
    
   
}
.log-adm{
    background-image: url(logg.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 800px ;
   
    
}
.titl-img{
    
}
.main-title-img{
    height: 500px;
    width: 1500px;
    background-image: url(viwes.jpg);
    /* background-size: 100px 100px; */
}
#menu li{
    text-decoration: none;
    list-style: none;
   

}

